.gridImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.modalImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}